  <aside id="way" class="way">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-7">
                <h1 class="title">Our way</h2>
                <p class="text-faded">
                    We have an open source mindset and <strong>our own tools</strong>, mostly related to event-sourcing architectures, with the goal of releasing them for the whole world to use.
                </p>
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="image">
                    <img class="img" src="/img/img-way.png" />
                </div>
            </div>
        </div>
    </div>
  </aside>
