<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-7">
                <h1 class="title">This is Corunet</h2>
                <p class="text-faded">
                    Corunet is a software consulting company that works with customers ranging <strong>from startups to Fortune 500s</strong>.
                </p>
                <p class="text-faded">
                    <strong>We’re more than a hundred engineers</strong> solving problems related to fast data, event sourcing, document databases, or service- oriented architectures.
                </p>
                <p class="text-faded">
                    We feel comfortable tackling all kinds of <strong>data-related problems and PCI-compliant systems</strong>.
                </p>
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="image">
                    <img class="img" src="/img/img-about.png" />
                </div>
            </div>
        </div>
    </div>
</section>
