<section class="work" id="work">
    <div class="container">
        <h1 class="title">
            Our work in three principles
        </h1>
        <div class="description">
            Most of the projects we've developed work 24/7 and <strong>we know what it takes to assure the reliability our customers need</strong>.
        </div>
        <div class="list">
            <div class="item">
                <img class="icon" src="/img/ico-work-1.png" />
                Overdeliver
            </div>
            <div class="item">
                <img class="icon" src="/img/ico-work-2.png" />
                Communication
            </div>
            <div class="item">
                <img class="icon" src="/img/ico-work-3.png" />
                Questioning ourselves
            </div>
        </div>
    </div>
</section>
