<section id="mission" class="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg col-sm-6">
                <div class="image">
                    <img class="img" src="/img/img-mission.png" />
                </div>
            </div>
            <div class="col-lg col-sm-6">
                <div class="text">
                    <h1 class="title">Our mission</h1>
                    <p class="text-muted">
                        We aim to <strong>build high quality software</strong>. Corunet has been delivering software consistently for more than two decades for customers across Europe and built systems used all over the world <strong>for more than a billion people</strong>. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
